@import url(font-awesome.min.css);

* { /* styles all elements possible */
    margin: 0;
}

body {
    font-family: "Raleway", Helvetica, sams-serif;
    color: #444444; /* colors the elements who have no color by themselves */
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}

.header {
    background-color: #444444;
}

.top-navbar {
    padding: 40px;
}

.top-navbar h1 {
    float: left;
}

.navbar-items {
    text-align: right;
}

/* .navbar-items #transit h1 {
    text-align: left;
} */

.navbar-items li{
    display: inline;
    padding: 0 10px;
}

.navbar-items li a:hover {
    color: #ffffff;

}

.navbar-items li a {
    transition: color .4s ease-in-out;
}

