@import url(font-awesome.min.css);


@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway/Raleway-VariableFont_wght.ttf);
}


* { /* styles all elements possible */
    margin: 0;
}


body {
    font-family: Raleway, Helvetica, sams-serif;
    color: #444444; /* colors the elements who have no color by themselves */
}


h1, 
h2 {
    font-family: Helvetica;
}


a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}


.btn {
    padding: 10px 20px;
    border-radius: 30px;
    border: 0;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    font-family: "Raleway";
}


/*it is possible to have two class names for a single HTML tag
to do so you just say: class="btn btn-gray" 
the second one will override the first one*/
.btn-gray {
    background-color: #ffffff;
    color: #444444 !important; 
    /*to prevent unwanted behavior if code order was changed
    do this for the ones who must override*/
}


.btn-big {
    font-size: 20px !important;
    padding: 17px 35px;
}


.btn-blue {
    background-color: #3cadd4;
    color: #ffffff !important;
}


.btn-dark {
    background-color:#383b43;
    color: #ffffff !important;
}


/*---------------- Styling of Header part -----------------*/


.header {
    background-image: url(../images/dark_tint.png),
        url(../images/bokeh_car_lights_bg.jpg);
    background-position: center;
}


.top-navbar {
    padding: 40px;
}


.top-navbar h1 {
    float: left;
}


.navbar-items {
    text-align: right;
}


/* .navbar-items #transit h1 {
    text-align: left;
} */


.navbar-items li{
    display: inline; /*to make items horizontal*/
    padding: 0 10px;
}


.navbar-items li a:hover {
    color: #ffffff;
    cursor: pointer;;

}


.navbar-items li a {
    transition: color .4s ease-in-out;
}


.banner-content {
    text-align: center;
    color: #ffffff;
    padding: 130px 0;
}


.banner-content h1 {
    font-size: 60px;
    margin-bottom: 70px;
}


.banner-content p {
    font-size: 22px;
    margin-bottom: 50px;
    /*can use both line-height and margin bottom
    line height makes distance on both tom and bottom though*/
    
}


/*---------------- Styling of Main part: Services -----------------*/

.services {
    background-color: #e9e8e8;
    border-bottom: 1px, #444444;
    border-top: 1px, #444444;
    padding: 100px 30px;
    text-align: center;
}

.services-header {
    margin-bottom: 50px;
}

.services-header h2 {
    font-size: 45px;
    color: #333333;
    margin-bottom: 20px;
}

.services-header p {
    font-size: 22px;
}

.services-content::after,
.services-content::before {
    content: '';
    display: block;
    clear: both;
}

.services-content > * {
    float: left;
}

.box {
    width: calc(calc(100% / 3) - 82px);
    padding: 70px 30px;
    margin: 10px;
    background-color: #ffffff;
    border: solid 1px #444444;
    border-radius: 5px;
}

.box > * {
    color: #a5a5a5;
    margin: 10px 5px;
}

.box h4 {
    font-size: 25px;
    color: #333333;
}

.box p {
    font-size: 15px;
}

.icon {
    background-color: #444444;
    width: 40px;
    height: 40px;
    padding: 30px;
    border-radius: 100%;
}